{%extends 'base.html'%}
{% load static %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
      learn about us 
      </p>
    </div>
  </header>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non luctus dui, vel posuere velit. Nulla sagittis tortor sed nunc hendrerit porta. Aenean fermentum maximus augue, ut 
    interdum mi euismod id. Sed condimentum scelerisque nunc nec venenatis. Donec consequat metus quam, sodales</p>


  <br>
</br><br>
</br><br>
</br><br>
</br><br>
</br><br>
</br><br>
</br><br>
</br><br>
</br>
</br><br>
</br>
</br><br>
</br>

{% endblock %}