{%extends 'base.html'%}


{% load static %}





  {%block content%}
<header class="hero-strip">
  <div class="hero-overlay text-center">
    <h1 class="display-4 fw-bolder mb-2">Welcome to Nonchalant</h1>
    <p class="lead fw-normal text-white-50 mb-0">
      With this shop homepage template
    </p>
  </div>
  
  <!-- Bootstrap Carousel Starts Here -->
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      {% for product in products %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ product.image.url }}" class="d-block mx-auto" alt="{{ product.name }}" style="width: 300px; height: 220px; object-fit: cover;">

        </div>
      {% endfor %}
    </div>
  </div>
</header>





  <!-- PRODUCT GRID -->
  <section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for product in products %}
      <div class="col mb-5">
        <div class="card h-100 position-relative">
          {% if product.on_sale %}
            <span class="badge bg-black position-absolute top-0 end-0 m-2">Sale</span>
          {% endif %}
          <!-- Product image -->
          <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <h5 class="fw-bolder">{{ product.name }}</h5>
              {% if product.on_sale and product.sale_price %}
                <strike>${{ product.price }}</strike>&nbsp;
                <span class="text-danger">${{ product.sale_price }}</span>
              {% else %}
                <span>${{ product.price }}</span>
              {% endif %}
              <br>
              {{ product.description }}
            </div>
          </div>
          <!-- View options button -->
<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
  <div class="text-center">
    <a class="btn btn-dark mt-auto" href="{% url 'product' product.pk %}">View</a>
  </div>
</div>

        </div>
      </div>
    {% endfor %}
  </div>
</div>

</section>

 

  
  {% endblock %}