
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      {% if site_settings and site_settings.logo %}
      <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
        <img src="{{ site_settings.logo.url }}" alt="{{ site_settings.site_name }}" height="105" class="me-10">
        <span class="visually-hidden">{{ site_settings.site_name }}</span>
      </a>
    {% else %}
      <a class="navbar-brand" href="{% url 'home' %}">Nonchalant</a>
    {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
         <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">About</a></li>
         


 {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
    {% endif %}

          <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="shopDropdown"
     role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Shop
  </a>

  <ul class="dropdown-menu" aria-labelledby="shopDropdown">
    <h6 class="dropdown-header">Categories</h6>

    <!-- All Products -->
    <li>
      <a class="dropdown-item" href="{% url 'category_summary' %}">All Products</a>
    </li>

    <!-- Nonchalant Pants (Coming soon...) -->
    <li>
      <a class="dropdown-item" href="{% url 'category' 'Nonchalant-Pants' %}">
        Nonchalant Pants <small class="text-danger fw-semibold">Coming soon…</small>
      </a>
    </li>
  </ul>
</li>

        </ul>
       <a class="btn btn-outline-dark" href="{% url 'cart_summary' %}">
  🛒 Cart <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
    </a>

      </div>
    </div>
  </nav>